#bilio {
    h3 {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 21px;
        line-height: 21px;
        display: inline-block;

        color: #01142D;
    }

    .right {
        display: inline-block;
        margin-right: auto;
    }

    tr,
    th {
        border: none;
        border-radius: 10px;
        text-align: center;
    }

    td {
        vertical-align: middle;
        text-align: left;

        h4 {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            margin: 0;
        }

        span {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 14px;

            /* identical to box height */

            color: #B0B8BD;


        }
    }

    .tr {
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }

    img {
        width: 40px;
    }

    th {
        color: #01142D;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500 !important;
        font-size: 14px;
        line-height: 16px;
        padding-bottom: 20px;
    }

    .search {
        background: #FFFFFF;
        border: 1px solid #999;
        box-sizing: border-box;
        border-radius: 6px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 15px;
        padding: 8px 20px;

        color: #666;


    }

}

#form-bilio {
    h3 {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 21px;
        line-height: 21px;
        display: inline-block;

        color: #01142D;
    }
}
