#keterlambatan {
    .search {
        background: #FFFFFF;
        border: 1px solid #999;
        box-sizing: border-box;
        border-radius: 6px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 15px;
        padding: 8px 20px;

        color: #666;


    }


    h3 {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 21px;
        line-height: 21px;
        display: inline-block;

        color: #01142D;
    }

    img {
        width: 65px;
        border-radius: 35px !important;
        height: 65px;
        background-position: center;
    }

    h4 {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 16px;
    }

    .id {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;

    }

    tr {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 15px;


    }

    h5 {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 23px;

        color: #01142D;
    }

    .right {
        display: inline-block;
        margin-right: auto;
    }
}
